/*!
Theme Name: whatsnewcyprus
Theme URI: http://underscores.me/
Author: PranayKanteySarker
Author URI: http://https//www.facebook.com/pranay2g
Description: A theme for whatsnewcyprus website
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: whatsnewcyprus
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

whatsnewcyprus is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/*katsat*/

#mycontent {
    display: none !important;
}
.newsletterActionBox > p {
    background-color: #ffffff;
    padding: 37px 0;
    margin-top: 57px;
    border-top: 2px solid #DF4661;
}
.newsletter p {
    text-align: center;
    font-size: 21px;
    font-weight: bold;
}
img {
    height: auto;
}
.max-height .zoomin img {
    max-height: 178px;
}


/* checkbox style */

.toggle_out {
    width: 13%;
    margin-top: 46px;
    padding: 3px;
    overflow: hidden;
}
.ios-toggle:checked + .checkbox-label {
    -webkit-box-shadow: inset 0 0 0 20px #85af4b,0 0 0 2px #85af4b;
    -moz-box-shadow: inset 0 0 0 20px #85af4b,0 0 0 2px #85af4b;
    box-shadow: inset 0 0 0 20px #85af4b,0 0 0 2px #85af4b;
}
.ios-toggle + .checkbox-label {
    -webkit-box-shadow: inset 0 0 0 0px #85af4b,0 0 0 2px #dddddd;
    -moz-box-shadow: inset 0 0 0 0px #85af4b,0 0 0 2px #dddddd;
    box-shadow: inset 0 0 0 0px #85af4b,0 0 0 2px #dddddd;
}
.ios-toggle:checked + .checkbox-label {
    -webkit-box-shadow: inset 0 0 0 20px #85af4b,0 0 0 2px #85af4b;
    -moz-box-shadow: inset 0 0 0 20px #85af4b,0 0 0 2px #85af4b;
    box-shadow: inset 0 0 0 20px #85af4b,0 0 0 2px #85af4b;
}
.ios-toggle:checked + .checkbox-label::after {
    color: #85af4b !important;
    font-size: 16px;
}
/*katsat end*/


/*styled pranay*/
.hide {
    display: none;
}
.show {
    display: block;
}
.footerNewsletterWrapper {
    max-width: 800px;
    margin: auto;
}
.tnp.tnp-subscription {
    max-width: 100%;
    position: relative;
    min-height: 60px;
}
.tnp-field.tnp-field-email {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #7a7b79 !important;
    display: block;
    overflow: hidden;
}
.tnp-field.tnp-field-email label {
    display: none;
}
.tnp-field.tnp-field-email input {
    height: 100% !important;
    font-size: 21px !important;
}
.tnp-submit {
    background: transparent !important;
    color: #000000 !important;
    font-size: 21px !important;
    font-weight: bold;
}
.tnp-field.tnp-field-button {
    position: absolute;
    left: calc(100% - 109px);
    top: calc(50% - 22px );
}
/*styled pranay end*/




@media screen and (max-width:560px) {
    .toggle_out {float: left;width:33%;margin-top: 10px;}
    .ios-toggle:checked + .checkbox-label:after {
    left: 36px;
    }
    .footerNewsletterWrapper .footerNewsletterBox {
    width: 100%;
    padding: 6px;
}
.footerNewsletterBox .newsletterActionBox button {
    height: 45px;
    line-height: 45px;
}
.footerNewsletterBox .newsletterActionBox input {
    height: 45px;
    line-height: 45px;
}
}

/*custom style for theme*/
#hide-4 { display:none;}
@media (max-width: 769px) {
    .footerNewsletterWrapper .footerNewsletterBox {
    width: 100%;
    padding: 6px;
}
.footerNewsletterBox .newsletterActionBox button {
    height: 45px;
    line-height: 45px;
}
.footerNewsletterBox .newsletterActionBox input {
    height: 45px;
    line-height: 45px;
}
#hide-2 { display:none;}
#hide-3 { display:none;}
#hide-4 { display:none;}
.change_font {font-size:20px!important;}
}
@media (max-width: 580px) {
#hide-4 { display:none;}
.change_font {font-size:20px!important;}
.greenline .sectionTitle:after {
    border-bottom: none;
}
.homeSectionWhatSay {
        margin-bottom:0px;
        margin-top: 5px;
}
}


